@page "/"

<PageTitle>Home - Portfolio Reindert</PageTitle>

<div>

<div class="flex justify-center ">

    <div class="w-2/3 ">
<Divider>About</Divider>
    </div>
</div>

<About HideTitle=true></About>
        <div class="flex justify-center ">
    <div class="w-2/3 ">
<Divider>Projects</Divider>
    </div>
    </div>
<div class="flex justify-center ">
    <div class="md:w-3/6 ">
        <Projects HideTitle=true></Projects>
    </div>
</div>

</div>