@page "/"
@using Portfolio.WASM.Views

<PageTitle>Home - Portfolio Reindert</PageTitle>

<div>

    <div class="flex justify-center ">

        <div class="w-3/6 ">
            <Divider>About</Divider>
        </div>
    </div>
    <div class="flex py-6 justify-center ">
        <div class="lg:w-3/6 ">
            <About HideTitle=true></About>
        </div>
    </div>
   
    <div class="flex justify-center ">
        <div class="w-3/6 ">
            <Divider>Education</Divider>
        </div>
    </div>
    <div class="flex justify-center ">
        <div class="lg:w-3/6 md:w-2/3">
            <Education HideTitle=true></Education>
        </div>
    </div>
    <div class="flex justify-center ">
        <div class="w-3/6 ">
            <Divider>Work history</Divider>
        </div>
    </div>
    <div class="flex justify-center ">
        <div class="lg:w-3/6 md:w-2/3">
            <Work HideTitle=true></Work>
        </div>
    </div>
    <div class="flex justify-center ">
        <div class="w-3/6 ">
            <Divider>Projects</Divider>
        </div>
    </div>
    <div class="flex justify-center ">
        <div class="lg:w-3/6 md:w-2/3">
            <Projects HideTitle=true></Projects>
        </div>
    </div>

</div>