@page "/"
<PageTitle>Index</PageTitle>

<div class="w-fill flex justify-center">
    <div class="flex flex-col md:flex-row w-full md:w-2/3 min-h-80">
        <div class="h-60  md:h-full rounded-t-lg md:w-2/6 bg-cover bg-center bg-no-repeat" style="background-image: url(./images/im.jpg)"></div>

        <div class="dark:bg-grey1 rounded-b-lg md:rounded-r-lg md:w-4/6 border-0 border-l-0 p-4 pl-4 flex flex-col h-full">
            <div class="text-2xl font-bold pb-1  flex-none">About this website</div>
            <div class="text-l flex-auto">
                This is my personal website. I have been a software developer and a web designer since 2016.<br />
                This website shows my work history, skills, education and a way to contact me.<br /><br />
                My current projects are listed on the <a href="projects"><b>Projects</b></a> page. <br /><br />

                Build using C#, Blazor WASM, Tailwind, and hosted in Azure.
                

            </div>
            <div class="pt-2">
               - Reindert
            </div>
        </div>

    </div>

</div>
<div class="w-fill flex justify-center py-6">
    <div class="w-2/3">

        <div class="relative flex px-2 items-center">
            <div class="flex-grow border-t dark:border-white"></div>
            <span class="flex-shrink mx-4 dark:text-white text-2xl">Projects</span>
            <div class="flex-grow border-t dark:border-white"></div>
        </div>
    </div>
</div>
<div class="w-fill flex justify-center p-2">
    <div class=" rounded-lg flex  w-2/3 h-24 dark:bg-grey2">
        <div class="rounded-l-lg w-20 bg-contain bg-center bg-no-repeat mx-2 " style="background-image: url(./images/logo.png)"></div>

        <div class="dark:bg-grey1 rounded-r-lg w-full border-0 border-l-0 p-4 pl-4 flex flex-col h-full">
            <div class="text-2xl font-bold pb-1  flex-none">Project 1</div>
            <div class="text-l flex-auto">
                Some text about the project.
            </div>
        </div>
    </div>
</div>
<div class="w-fill flex justify-center p-2">
    <div class="rounded-lg flex  w-2/3 h-24 dark:bg-grey2">
        <div class="rounded-l-lg w-20 bg-contain bg-center bg-no-repeat mx-2" style="background-image: url(./images/logo.png)"></div>

        <div class="dark:bg-grey1 rounded-r-lg w-full border-0 border-l-0 p-4 pl-4 flex flex-col h-full">
            <div class="text-2xl font-bold pb-1  flex-none">Project 2</div>
            <div class="text-l flex-auto">
                Some text about the project.

            </div>
        </div>
    </div>
</div>