@page "/projects"
@using System.Text.Json
@using Portfolio.Shared
@using System.Net.Http.Headers

@if (!HideTitle)
{
    <h3 class="text-2xl font-bold pb-1">Projects</h3>
}
<div class="py-6">
    @foreach (var project in ListProjects)
    {
        <ListTile HideLeading=true Grow=true Url="@project.Url">
            <Title>@project.Name</Title>
            <Description>@project.Description</Description>
            
        </ListTile>
    }
</div>
@code {
    [Parameter]
    public bool HideTitle { get; set; } = false;
    private List<Project> ListProjects { get; set; } = new List<Project>();
    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/vnd.github.v3+json"));
        var res = await client.GetAsync("https://api.github.com/users/reindertkorver/repos");
        var res1 = await res.Content.ReadAsStringAsync();
        var projects = JsonSerializer.Deserialize<List<Project>>(res1);
        ListProjects = projects.Where(p=>!p.Fork).OrderByDescending(r=>r.Created).ToList();
    }
}