@using Portfolio.WASM.Utils
<div class="w-fill flex justify-center">
    <div class="flex flex-col md:flex-row w-full min-h-80">
        @if (ImagePosition == Position.Start || ImagePosition == Position.Top)
        {
            <div class="h-60  md:h-full rounded-tr-lg rounded-tl-lg md:rounded-tl-lg md:rounded-bl-lg md:rounded-tr-none  md:w-2/6 bg-cover bg-center bg-no-repeat" style="background-image: url(./images/im.jpg)"></div>
        <div class="dark:bg-grey1 bg-white1 rounded-br-lg rounded-bl-lg md:rounded-tr-lg md:rounded-br-lg md:rounded-bl-none md:w-4/6 border-0 border-l-0 p-4 pl-4 flex flex-col h-full">
            <div class="text-2xl font-bold pb-1  flex-none">@Header</div>
            <div class="text-l flex-auto">
                @Body
            </div>
            <div class="pt-2">
                @Footer
            </div>
        </div>
        }
        
        @if (ImagePosition == Position.End)
        {
             <div class="dark:bg-grey1 bg-white1 rounded-tl-lg rounded-tr-lg md:rounded-tl-lg md:rounded-bl-lg md:rounded-tr-none md:w-4/6 border-0 border-l-0 p-4 pl-4 flex flex-col h-full">
            <div class="text-2xl font-bold pb-1  flex-none">@Header</div>
            <div class="text-l flex-auto">
                @Body
            </div>
            <div class="pt-2">
                @Footer
            </div>
        </div>
            <div class="h-60  md:h-full rounded-br-lg rounded-bl-lg md:rounded-tr-lg md:rounded-br-lg md:rounded-tl-none md:rounded-bl-none  md:w-2/6 bg-cover bg-center bg-no-repeat" style="background-image: url(./images/im.jpg)"></div>
        }
    </div>

</div>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }
    [Parameter]
    public RenderFragment Footer { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public Position? ImagePosition { get; set; }

}
