<div class="w-screen flex justify-center">
    <a class="text-6xl py-2" href="">Portfolio</a>
</div>
<div class="w-screen flex justify-center gap-x-4">
    <NavLink class="text-2xl" href="/">Home</NavLink>
    <NavLink class="text-2xl" href="/About">About</NavLink>
    <NavLink class="text-2xl" href="/Contact">Contact</NavLink>
</div>
